/* Setting up theme */
:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --logo-primary: #f8411a;
  --logo-secondary: #f65735;
  --transition-speed: 600ms;
}

h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: var(--bg-primary);
  letter-spacing: 0.3ch;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Browser scroll bar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--logo-secondary);
}

.main {
  margin-left: 5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}